p {
    color: white;
}

table tr td {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

td {
 width: 300px;
}

.dashboardwrapper {
    color: white;
}

.tableHead {
    display:  flex; 
}

.tableHead .headings {
    flex: 1;
}

.studentComments {
    flex: 2;
}
